.radio-container {
  width: 23%;
  text-align: center;
  list-style-type: none;
}

.radio-container input {
  visibility: hidden;
  position: absolute;
}

.radio-container input:checked + .radio-label,
.radio-container input:hover + .radio-label {
  background: var(--main-color);
  border-color: var(--main-color);
}

.radio-label {
  border: 2px solid white;
  display: block;
  padding: 1rem;
  width: 100%;
  font-weight: bold;
}
