:root {
  --main-color: rgb(45, 155, 250);
  --main-background-color: rgb(68, 70, 75);
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  background: var(--main-background-color);
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

form {
  padding-bottom: 2rem;
}

.section {
  background: rgb(68, 70, 75);
  color: white;
}

.section-title {
  width: 100%;
  border-bottom: 3px solid var(--main-color);
  margin: 3rem 0 1.5rem;
  padding-bottom: 0.5rem;
}
